.blogForm {
    margin-top: 20px;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 8px lightgray;
    padding: 30px;
    display: flex;
    width: 400px;
    flex-direction: column;
}
.textField {
    margin-bottom: 5px;
}
