.home{
    display: flex;
    flex-direction: column;
}
.home__card{
    margin-top:25px;
    width:500px;
    box-shadow: 0px 2px 6px 2px lightgray
}
.post_input{
    margin-bottom:10px;
}
form h5 {
    color : lightseagreen;
    font-size:17px;
}